.button {
  padding: 0.5rem;
  margin-left: 0.2rem;
  font-size: 1rem;
  color: #6d6d6d;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
}
.button:hover {
  color: #000000;
}
