.button {
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}


.roundButton {
  width:  3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 0;
}

.iconButton {
  width: 3rem;
  height: 3rem;
  padding: 0;
  background: transparent;
  color: inherit;
  border-radius: 50%;
}


.inCard {
  background-color: var(--content-bg-dark);
  color: var(--content-text-main);
}

.inCard:hover {
  background-color: var(--accent-blue);
  color: white;
}