.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 2rem 2rem 0;
}

.logo {
  display: flex;
  align-items: center;
}

.avatar {
  width: 2rem;
  height: 2rem;
  background-color: red;
  border-radius: 10rem;
  margin-right: 1rem;
}

.nav {
  display: flex;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
}

.th {
  margin: 0 0 0 1rem;
}

.toggle {
  display: flex;
  color: gray;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover,
.toggle:hover {
  text-decoration: none;
  color: black;
}
