.toggleContainer {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  padding: 0 1rem;
}

.toggleLabel {
  position: relative;
  display: inline-block;
  width: 1.875rem;
  height: 1.0625rem;
}

.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.2s;
  border-radius: 1.0625rem;
}

.toggleSlider:before {
  position: absolute;
  content: '';
  height: 0.8125rem;
  width: 0.8125rem;
  left: 0.125rem;
  bottom: 0.125rem;
  background-color: white;
  transition: 0.2s;
  border-radius: 50%;
}

.toggleInput:checked + .toggleSlider {
  background-color: #2196f3;
}

.toggleInput:checked + .toggleSlider:before {
  transform: translateX(0.8125rem);
}

.toggleInput:focus + .toggleSlider {
  box-shadow: 0 0 0.0625rem #2196f3;
}
