html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


:root[data-theme='light'] {
  --color-main-light: #f9f9f9;       
  --color-content-dark: #383d50;      
  --color-content-mid: #6a6f83;
  --color-content-light: #ffffff;
  --color-content-extra-light: #f0efef;
  --color-accent-blue: #627edb;
  --color-accent-orange: #fb861e;
  --color-accent-purple: #a140f9;
  --color-accent-yellow: #f5d419;
}

:root[data-theme='dark'] {
  --bg-color: #121212;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}